@import url("variables/colors.css");

body {
  background-color: var(--md-sys-color-background);
  margin: 0;
}

.katex {
  z-index: 0;
}

content {
  display: block;
  margin-top: 48px;
  padding: 32px 0px 48px 0px;
}

.markdownContent img {
  max-width: 100%;
}

.markdownContent,
.markdownContent p,
.markdownContent a,
.markdownContent li,
.markdownContent blockquote {
  overflow-wrap: anywhere;
  word-break: break-word;
}
